@model IEnumerable<Musicalist.Models.Compras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CidadeEntreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CidadeFatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntregEFatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisEntreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisFatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuaEntreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuaFatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalEntreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalFatur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeEntreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeFatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntregEFatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisEntreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisFatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuaEntreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuaFatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalEntreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalFatur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComprasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComprasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComprasID })
        </td>
    </tr>
}

</table>
